Libraries

In [101]:
#importing libraries to be used
import pandas as pd 
import pymongo
import requests
 #pulling specific library funtions
from splinter import Browser
from bs4 import BeautifulSoup as bs

Connecting .exe

In [127]:
#connecting to chrome.exe
executable_path ={"executable_path" : "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

Nasa Mars News

In [128]:
url_main = "https://mars.nasa.gov/news/"
response = requests.get(url_main)
soup= bs(response.text, 'html.parser')

In [129]:
#scrape title and paragraph text
Title_scrape = soup.find("div", class_ = "content_title").find("a").text
result = soup.find('div', class_='slide')
Paragraph_scrape = result.a.text.strip()

#Display scrape
print(Title_scrape)
print(Paragraph_scrape)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

JPL Mars Space Images - Featured Images

In [130]:
#visit site
url_images = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_images)

In [132]:
#Html object
html_Space_image  = browser.html
soup_space_image = bs(html_Space_image,"html.parser")

Find image url ( there is not one )

In [133]:
space_image_featured = soup_space_image.find('article', class_="carousel_item")['style'].replace('background-image: url(','').replace(');', '')[1:-1]
main_webpage_url = "https://www.jpl.nasa.gov"
featured_image  = main_webpage_url + space_image_featured

print(featured_image )

TypeError: 'NoneType' object is not subscriptable

Mars Facts

In [134]:
Facts_url = "https://space-facts.com/mars/"
Facts_table = pd.read_html(Facts_url)

In [135]:
Facts_table_df = Facts_table[0]
Facts_table_df.columns=['Variables','Mars']
Facts_table_df

              Variables                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [139]:
Facts_html =Facts_table_df.to_html(classes='table')
#print(Facts_html)

Mars Hemispheres

In [136]:
Hemipsheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(Hemipsheres_url)

In [140]:
html= browser.html 
soup = bs(html, "html.parser")

In [144]:
main_hemispheres_url= "https://astrogeology.usgs.gov"
images = soup.findAll('div',class_='item')
images_list = []

In [149]:
for x in images:
    title = x.find("h3").text
    image_url = x.find('a',class_="itemLink product-item")["href"]
    browser.visit(main_hemispheres_url + image_url)
    image_html = browser.html
    image_soup = bs(image_html,"html.parser")
    full_url = main_hemispheres_url + image_soup.find("img", class_="wide-image")['src']
    images_list.append({'title, url': full_url})

In [150]:
images_list

[{'title, url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title, url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title, url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title, url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]